-- MySQL dump 10.13  Distrib 8.4.7, for Win64 (x86_64)
--
-- Host: srv1030.hstgr.io    Database: u394367385_ventas
-- ------------------------------------------------------
-- Server version	11.8.6-MariaDB-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Cupones`
--

DROP TABLE IF EXISTS `Cupones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Cupones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `dias_regalo` int(11) NOT NULL,
  `limite_usos` int(11) DEFAULT 100,
  `usos_actuales` int(11) DEFAULT 0,
  `activo` tinyint(1) DEFAULT 1,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Cupones`
--

LOCK TABLES `Cupones` WRITE;
/*!40000 ALTER TABLE `Cupones` DISABLE KEYS */;
/*!40000 ALTER TABLE `Cupones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `abonos`
--

DROP TABLE IF EXISTS `abonos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abonos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tenant_id` int(11) NOT NULL,
  `clienteId` int(11) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `metodoPago` varchar(50) DEFAULT 'Efectivo',
  `fecha` datetime NOT NULL,
  `evidencia` text DEFAULT NULL,
  `verificado` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`),
  KEY `clienteId` (`clienteId`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abonos`
--

LOCK TABLES `abonos` WRITE;
/*!40000 ALTER TABLE `abonos` DISABLE KEYS */;
/*!40000 ALTER TABLE `abonos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `apodo` varchar(255) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  `tenant_id` varchar(100) DEFAULT NULL,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  `deudaTotal` decimal(10,2) DEFAULT 0.00,
  `whatsapp` varchar(20) DEFAULT NULL,
  `codigo_cliente` varchar(50) DEFAULT NULL,
  `visto` tinyint(1) DEFAULT 0,
  `foto` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (6,'Nora Castro','Nora',NULL,NULL,'2','2026-04-03 04:36:00',12100.00,'6181412811','C-6',0,'­ƒæ®'),(7,'Stephie','la fanny',NULL,NULL,'2','2026-04-03 04:36:00',5200.00,'6182772994','C-7',1,NULL);
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_app`
--

DROP TABLE IF EXISTS `clientes_app`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_app` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo_cliente` varchar(20) DEFAULT NULL,
  `tenant_id` int(11) NOT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  `apodo` varchar(100) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `facebook` varchar(100) DEFAULT NULL,
  `otro` varchar(100) DEFAULT NULL,
  `deudaTotal` decimal(10,2) DEFAULT 0.00,
  `foto` text DEFAULT NULL,
  `visto` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`),
  KEY `usuario_id` (`usuario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_app`
--

LOCK TABLES `clientes_app` WRITE;
/*!40000 ALTER TABLE `clientes_app` DISABLE KEYS */;
INSERT INTO `clientes_app` VALUES (6,'C-6',2,NULL,'Nora Castro','Nora','6181412811',NULL,NULL,12100.00,'­ƒæ®',0),(7,'C-7',2,NULL,'Stephie','la fanny','6182772994',NULL,NULL,5200.00,NULL,1);
/*!40000 ALTER TABLE `clientes_app` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupones`
--

DROP TABLE IF EXISTS `cupones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cupones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `dias_regalo` int(11) NOT NULL DEFAULT 15,
  `limite_usos` int(11) NOT NULL DEFAULT 100,
  `usos_actuales` int(11) NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupones`
--

LOCK TABLES `cupones` WRITE;
/*!40000 ALTER TABLE `cupones` DISABLE KEYS */;
/*!40000 ALTER TABLE `cupones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tenant_id` int(11) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `costo` decimal(10,2) NOT NULL,
  `precioSugerido` decimal(10,2) NOT NULL,
  `foto` text DEFAULT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  `categoria` varchar(100) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `imagenes` longtext DEFAULT NULL,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tandapagos`
--

DROP TABLE IF EXISTS `tandapagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tandapagos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tenant_id` int(11) NOT NULL,
  `tandaId` int(11) NOT NULL,
  `numeroSemana` int(11) NOT NULL,
  `participanteNombre` varchar(100) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `pagado` tinyint(1) DEFAULT 0,
  `esBeneficiario` tinyint(1) DEFAULT 0,
  `evidencia` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`),
  KEY `tandaId` (`tandaId`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tandapagos`
--

LOCK TABLES `tandapagos` WRITE;
/*!40000 ALTER TABLE `tandapagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tandapagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tandas`
--

DROP TABLE IF EXISTS `tandas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tandas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tenant_id` int(11) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `montoPorNumero` decimal(10,2) NOT NULL,
  `periodicidad` enum('semanal','quincenal','mensual') NOT NULL,
  `fechaInicio` datetime NOT NULL,
  `participantes` int(11) DEFAULT 11,
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tandas`
--

LOCK TABLES `tandas` WRITE;
/*!40000 ALTER TABLE `tandas` DISABLE KEYS */;
INSERT INTO `tandas` VALUES (1,2,'Abril',300.00,'semanal','2026-03-31 20:44:52',11),(2,2,'Abril',300.00,'semanal','2026-03-31 20:44:54',11),(3,2,'Abril',300.00,'semanal','2026-03-31 20:44:55',11),(4,2,'Abril',300.00,'semanal','2026-03-31 20:44:56',11),(5,2,'Abril',300.00,'semanal','2026-03-31 20:44:56',11),(6,2,'Abril',300.00,'semanal','2026-03-31 20:44:57',11),(7,2,'Abril',300.00,'semanal','2026-03-31 20:44:57',11),(8,2,'Abril',300.00,'semanal','2026-03-31 20:44:57',11),(9,2,'Abril',300.00,'semanal','2026-03-31 20:44:57',11);
/*!40000 ALTER TABLE `tandas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `rol` enum('superadmin','gestionador','vendedor','cliente') NOT NULL DEFAULT 'vendedor',
  `tenant_id` int(11) DEFAULT NULL,
  `negocio_nombre` varchar(100) DEFAULT NULL,
  `negocio_slug` varchar(100) DEFAULT NULL,
  `sub_expira_el` datetime DEFAULT NULL,
  `sub_status` enum('trial','activo','vencido','suspendido') DEFAULT 'trial',
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expires` datetime DEFAULT NULL,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `negocio_slug` (`negocio_slug`),
  KEY `tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Super Admin','admin@missventas.com','$2b$10$3egSwlbv0s8AGJf1ukm/ZOFFY6BSgwj.m7EXB8O7ZuQB76BDsK1ou','superadmin',NULL,NULL,NULL,NULL,'trial',NULL,NULL,'2026-02-28 14:08:58'),(2,'mario cardiel','marioalcard4@gmail.com','$2b$10$M6wk5f0uCi6x.qGRymn3J.WXN969txnCwpgL4AZOnR/hm7D.uvPXm','vendedor',2,NULL,NULL,'2026-05-03 03:04:12','activo',NULL,NULL,'2026-04-03 03:03:49');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tenant_id` int(11) NOT NULL,
  `productoId` int(11) NOT NULL,
  `clienteId` int(11) NOT NULL,
  `precioVenta` decimal(10,2) NOT NULL,
  `utilidad` decimal(10,2) NOT NULL,
  `fecha` datetime NOT NULL,
  `pagado` tinyint(1) DEFAULT 0,
  `estado` enum('apartado','autorizado','entregado','cancelado') DEFAULT 'autorizado',
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  `cliente_id` int(11) DEFAULT NULL,
  `total` decimal(10,2) DEFAULT NULL,
  `notas` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tenant_id` (`tenant_id`),
  KEY `productoId` (`productoId`),
  KEY `clienteId` (`clienteId`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-07 13:50:00
